html {
        font-size: 16px;
}

body {
    padding: 1rem;
}

ul  {
    width: 50vw;
    padding: 0%;
    list-style-type: none;
}

.menu {
    display:flex
}

li  {
    font-size: 1.5rem;
}

/* link a riposo*/
a, a:link {
    color: hsl(228, 100%, 44%);
    text-decoration: none
}

/* link visitati*/
a:visited {
    color: hsl(97, 100%, 50%)
}

/* cursore su link o focus su link*/
a:hover a:focus {
    color: hsl(240, 100%, 67%)
}

/*link premuti*/
a:active {
    color: hsl(308, 100%, 50%)
}


