html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#page {
  background-image: url(images/Sfondo_poster_2.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center bottom;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5vh;
  z-index: 10;
}

.testo {
  margin-top: 20px;
  text-align: center;
  font-style: italic;
}

.testo h1 {
  font-family: 'Georgia', serif;
  font-size: 1rem;
  font-weight: 800;
}

.wrapper-cerchio {
  position: relative;
  width: 260px;
  height: 260px;
}

.cerchio-contenitore {
  width: 100%;
  height: 100%;
  background-color: #ff8a8a;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  z-index: 2;
}

.cerchio-contenitore img {
  width: 55%;
  height: auto;
}

.orbita {
  position: absolute;
  top: -80px;
  left: -80px;
  right: -80px;
  bottom: -80px;
  animation: ruota 8s linear infinite;
  z-index: 1;
}

.cerchietto {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #ff41418a;
  border-radius: 50%;
}

.cerchietto.uno {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.cerchietto.due {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

@keyframes ruota {
  from { transform: rotate(0deg); }
  to   { transform: rotate(360deg); }
}








@media (min-width: 768px) {

  
  #page {
    background-image: none;
    background-color: black;
    justify-content: center;
    align-items: center;
  }


  .main-content {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 80px;
    padding-top: 0;
    width: 100vw;
    height: 100vh;
  }

  .wrapper-cerchio {
    position: relative;
    width: 300px;
    height: 300px;
    flex-shrink: 0;
  }

  .cerchio-contenitore {
    width: 300px;
    height: 300px;
    margin-top: 0;
  }

  .cerchio-contenitore img {
    width: 55%;
  }


  .orbita {
    top: -100px;
    left: -100px;
    right: -100px;
    bottom: -100px;
  }

 
  .cerchietto {
    width: 36px;
    height: 36px;
  }

  .testo {
    flex-shrink: 0;
    max-width: 45vw;
    text-align: left;
    margin-top: 0;
  }

  .testo h1 {
    font-size: clamp(2.2rem, 3.5vw, 4.5rem);
    line-height: 1.3;
    color: white;
  }
}